<!DOCTYPE html>
<html>
<head>
    <title>How to Get Your Compass CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="card">
        <h2>About TransLink Performance Explorer</h2>
    </div>

    <!-- ⭐ SAMPLE TEXT BLOCK -->
    <div class="howto-text">
        <h3>What is TransLink Performance Explorer?</h3>
        <p>
            TransLink Performance Explorer is a web application designed to help users analyze and visualize transit 
            performance data. It fills in the gap found in TransLink's official TSPR reports and summaries by 
            allowing users to easily explore and compare performance metrics between each other as well as create custom visualizations. 
            The app is built using Python and Flask, and it utilizes the TSPR CSV files provided by TransLink as its data source.
        </p>
        
    </div>

    <a href="https://github.com/Jacobmar2/Compass-Wrapped" 
        class="button-card-2"
        target="_blank" 
        rel="noopener noreferrer">
            Source Code
    </a>

    <a href="https://www.translink.ca/translink/plans-and-projects/strategies-plans-and-guidelines/managing-the-transit-network#2024-transit-service-performance-review" 
        class="button-card-2"
        target="_blank" 
        rel="noopener noreferrer">
            Source CSV Files
    </a>

    <a href="https://github.com/Jacobmar2/Compass-Wrapped/issues" 
        class="button-card-2"
        target="_blank" 
        rel="noopener noreferrer">
            Submit any feedback/issue here
    </a>



    <a href="/" class="button-card back-button">
        &laquo; Back to Home / Upload Page
    </a>

</body>
</html>