<!DOCTYPE html>
<html>
<head>
    <title>How to Get Your Compass CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="card">
        <h2>About TransLink Performance Explorer</h2>
    </div>

    <!-- ⭐ SAMPLE TEXT BLOCK -->
    <div class="howto-text">
        <h3>What is TransLink Performance Explorer?</h3>
        <p>
            TransLink Performance Explorer is a web application designed to help users analyze and visualize transit 
            performance data. It allows users to easily explore and compare performance metrics between each other as well as create custom visualizations. 
            The app is built using Python and Flask, and it utilizes the TSPR CSV files provided by TransLink as its data source.
        </p>
        <h3>Features</h3>
        <div class="about-notes">
            <p>
                ● My 2 Bus Lines: Lets you compare any 2 bus lines on TransLink's System. Reveals stats such as annual and daily ridership, revenue hours, boardings per hour and peak passenger loads, overcrowding metrics, and more!
            </p>    
            <p>
                ● My 2 Stations: Lets you compare any 2 SkyTrain Stations on Translink's System. Reveals stats such as annual and daily ridership, as well as boardings and alightings per hour.
            </p>  
            <p>
                ● Greater/Less Than: Reveals the bus lines/SkyTrain stations that satisfies a given requirement in a given metric. Ex. Reveal bus lines with more than 1,000,000 boardings per year.
            </p>
            <p>
                ● Similar To: Reveals bus lines/SkyTrain stations that are most closely related to your given bus line/station in a given metric. Like a "recommendation" finder.
            </p>
        </div>
        <h3>Features (Coming Soon)</h3>
        <div class="about-notes">
            <p>
                ● My 2 Years: Reveals bus lines/SkyTrain stations that had the biggest change (+ and -) in each given metric over the 2 chosen years. From this, you can also choose any individual bus line/SkyTrain station and reveal their change over the 2 years.
            </p>
            <p>
                ● Deep Bus Line Comparison: Compares any 2 bus line stat subsections. That is, by day of the week (MF, Sat, Sun), Season (Fall, Summer), and Time Range (4, 6, 9, 15, 18, 21, 24). Here, you can compare not only different bus lines of the same subsection (day, season, and time range shared), but also same bus line of different subsections, or even mix it up (ex. compare if a bus line has more ridership late night than another during rush hour).
            </p>
            <p>
                ● Fun minigame: Bus line/SkyTrain station trivia: which bus line has more riders/the most amount of riders? Other questions: Which has more overcrowding? Higher speed?
            </p>
        </div>
        <h3>Notes</h3>
        <div class="about-notes">
            <p>
                ● Image credit for My 2 Stations goes to Wikimedia Commons, where all images are licensed under Creative Commons. Images are found from the station's main Wikipedia page.
            </p>
            <p>
                ● Not affiliated or supported by TransLink
            </p>
            <p>
                ● Uses MIT License (see LICENSE file for more details)
            </p>
        </div>
    </div>

    <a href="https://github.com/Jacobmar2/TransLink-Performance-Explorer" 
        class="button-card-2"
        target="_blank" 
        rel="noopener noreferrer">
            Source Code
    </a>

    <a href="https://www.translink.ca/translink/plans-and-projects/strategies-plans-and-guidelines/managing-the-transit-network#2024-transit-service-performance-review" 
        class="button-card-2"
        target="_blank" 
        rel="noopener noreferrer">
            Source Data (CSV Files)
    </a>

    <a href="https://github.com/Jacobmar2/TransLink-Performance-Explorer/issues" 
        class="button-card-2"
        target="_blank" 
        rel="noopener noreferrer">
            Submit any feedback/issue here
    </a>



    <a href="/" class="button-card back-button">
        &laquo; Back to Home / Upload Page
    </a>

</body>
</html>